<!-- ========================= FOOTER ========================= -->
<footer class="foo-bg section-footer p-3 pb-5">
	<p></p>
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<p class="text-muted"> &copy 2022 Programmers Advocate</p>
			</div>
			<div class="col-md-5 text-md-center">
				<span  class="px-2">info@padvoc.com</span>
				<span  class="px-2">+91 7204284117</span>
			</div>
			<div class="col-md-4 text-md-right text-muted">
				<span  class="px-2">Prestige Tech Park, Marathahalli, Bangalore</span>
			</div>
<!--			<div class="col-md-3 text-md-right text-muted">-->
<!--				<i class="fab fa-lg fa-cc-visa"></i>-->
<!--				<i class="fab fa-lg fa-cc-paypal"></i>-->
<!--				<i class="fab fa-lg fa-cc-mastercard"></i>-->
<!--			</div>-->
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
