<!-- ========================= FOOTER ========================= -->
<footer class="foo-bg section-footer p-3 pb-5">
	<p></p>
	<section class="footer-bottom border-top">
		<div class="container">
			<div class="row row-cols-auto justify-content-center">
				<div class="col mt-1">
					<p class="text-muted"> &copy 2022 Programmers Advocate</p>
				</div>
				<div class="col mt-1 mb-1">
					<div class="row">
						<span  class="px-2 text-center">programmersadvocate@gmail.com</span>
					</div>
					<div class="row">
						<span  class="px-2 text-center">+91-7204284117</span>
					</div>
				</div>
				<div class="col mt-1 mb-1">
					<span class="px-2 text-muted">Prestige Tech Park, Marathahalli, Bangalore</span>
				</div>
			</div>
		</div><!-- //container -->
	</section>

</footer>
<!-- ========================= FOOTER END // ========================= -->
