<header>
   <!-- Custom Navbar Code Goes Here -->
   <nav class="navbar navbar-light bg-light navbar-expand-lg">
      <div class="container">
         <a href="" class="navbar-brand revolve_3d" style="mix-blend-mode: multiply;">
         <img src="https://s3-us-east-2.amazonaws.com/designevo/projects/uid-2850492/8d332ba162868d01ba2349407fdfc380/preview.png?t=1632455799858"
            alt="brand-logo" style="mix-blend-mode: multiply;">
         </a>
         <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
            data-bs-target="#navbarScrollingCustom" aria-controls="navbarScrollingCustom" aria-expanded="false"
            aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarScrollingCustom">
            <ul class="navbar-nav navbar-nav-scroll ms-auto">
               <li class="nav-item">
                  <a href="file:///C:/Endurance/FullStack/Frontend/WebPages/HomePage/homepage.html#"
                     class="nav-link active" aria-current="page">Home</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">Link</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link">Link</a>
               </li>
               <li class="nav-item">
                  <a href="#" class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
               </li>
               <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">Topics</a>
                  <div class="dropdown-menu">
                     <a href="container.html" class="dropdown-item">Home</a>
                     <a href="grid.html" class="dropdown-item">Grid</a>
                     <a href="columns.html" class="dropdown-item">Columns</a>
                     <a href="gutters.html" class="dropdown-item">Gutters</a>
                     <a href="utilities-for-layout.html" class="dropdown-item d-none">Utilities for layout</a>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </nav>
</header>